<!DOCTYPE html>
<html lang="en">
  <link rel="stylesheet" href="/css/addquestion.css">
  <script src="https://cdn.jsdelivr.net/npm/gsap@3.11/dist/gsap.min.js"></script>
  <link href='https://unpkg.com/css.gg@2.0.0/icons/css/mail.css' rel='stylesheet'>
  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="google" content="notranslate">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Resultados Prueba - Refuerzo Icfes - ITI </title>
</head>
<body id="body" class="light-mode">

  <section id="loadscreen" class="loadscreencontainer">
    <div class="wrapper">
        <div class="belt">
            <div class="t" style='--index: 0'></div>
            <div class="t" style='--index: 1'></div>
            <div class="t" style='--index: 2'></div>
            <div class="t" style='--index: 3'></div>
            <div class="t" style='--index: 4'></div>
            <div class="t" style='--index: 5'></div>
            <div class="t" style='--index: 6'></div>
            <div class="t" style='--index: 7'></div>
            <div class="t" style='--index: 8'></div>
            <div class="t" style='--index: 9'></div>
        </div>
        <div class="box" style='--index: 0'></div>
        <div class="box" style='--index: 1'></div>
        <div class="box" style='--index: 2'></div>
        <div class="box" style='--index: 3'></div>
        <div class="box" style='--index: 4'></div>
    </div>
    <div>
        <h1>CrisKop</h1>
    </div>
</section>

<header class="hero" id="start">
  <%- include('../partials/nav', {logo: null})%>
</header>

<section class="bgxd">
    <div class="circles">
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    </div>
</section>
    

<section class="allcontainer" style="align-self: center;">

  <section class="resultsinfo topmark start">

      <h1>Resultados de test de <%=mat%></h1>
      <br>
      <h2>Resultados de <%=nombre%></h2>
      <br>
   
      <section class="emailcontainer">
      <div class="emailicon">
          <i class="gg-mail"></i>
      </div>
      <div class="email">
          <div>
          <h2 style="font-weight: 700;"><%=email%></h2>
          </div>
      </div>
      <div class="emailicon">
        <i class="gg-mail"></i>
    </div>
      </section>

      <div>
        <span style="display: flex; gap: 10px;"><h2 style="font-weight: 700;">ID: </h2><h2 style="font-weight: 300;"> <%=id%></h2></span>
      </div>

  </section>

  <section class="resultsinfo" style="display: flex; justify-content: center;">
    <h1><%=result%> / 100</h1>
  </section>

<section class="resultscontainer">
<%resp.forEach(function(r){
      let div = r.split("-");%>

      <div class="resultspanel">
        <h1><%=div[0]%>.
   
        <%if(rank !== "user"){%>
          <% 
            // Abecedario en mayúsculas
  const abecedario = 'ABCDEFGHIJKLMNOPQRSTUVWXYZ';

  // Convertir el número a letra mayúscula del abecedario
 let letra = abecedario.charAt(div[1] - 1)
 %>
          <%=letra%>
        <%}%>

        </h1>

        <%if(div[2] === "i"){%>
          <div class="incorrect"></div>
        <%}%>
        <%if(div[2] === "c"){%>
          <div class="right"></div>
        <%}%>
        </div>

<%})%>

</section>

</section>

</body>
</html>
<script>const {gsap} = window;</script>

<%-include('../scripts/loadscreen')%>


